*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
}

.parentNotesForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notesForm{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}

input{
    background-color: #111;
    border: 2px solid white;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    color: #fff;
}

textarea{
    background-color: #111;
    border: 2px solid white;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    color: #fff;
}

.notesFormButton{
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
}

input::placeholder{
    padding: 10px;
    text-align: center;
}

textarea::placeholder{
    padding: 10px;
    text-align: center;
}