*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
}

.parentNotesDisplay{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.notesDisplayCard{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #111;
}

.deleteButton{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    left:150px
}