*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
}

.parentNotesDisplay{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.notesDisplayCard{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    color: #111;
}

.displayCardsButton{
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.editNotesDisplayCard{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
    color: #111;
}

.editInput{
    width: fit-content;
    border-radius: 5px;
}

.editTextArea{
    width: fit-content;
    border-radius: 5px;
}

.editIconsContainer{
    display: flex;
    justify-content: space-between;
}

.editInputTextAreaContainer{
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.notesHeader{
    display: flex;
    justify-content: space-between;
}
